@import "tailwindcss";

:root {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-content: oklch(21% 0.006 285.885 / 0.8);
  --color-content-light: oklch(21% 0.006 285.885 / 0.5);
  --color-content-dark: oklch(21% 0.006 285.885 / 1.0);

  --color-primary: oklch(45% 0.24 277.023);
  --color-primary-light: oklch(45% 0.24 277.023 / 0.6);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-light: oklch(65% 0.241 354.308 / 0.5);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  
  --color-border: oklch(0% 0 0 / 0.4);
  --color-border-light: oklch(0% 0 0 / 0.2);
  --color-border-dark: oklch(0% 0 0 / 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-100: oklch(20.768% 0.039 265.754);
    --color-base-200: oklch(19.314% 0.037 265.754);
    --color-base-300: oklch(17.86% 0.034 265.754);
    --color-content: oklch(100% 0.007 265.754 / 0.9);
    --color-content-light: oklch(100% 0.007 265.754 / 0.6);
    --color-content-dark: oklch(100% 0.007 265.754 / 1.0);
    --color-primary: oklch(75.351% 0.138 232.661);
    --color-primary-light: oklch(75.351% 0.138 232.661 / 0.5);
    --color-primary-content: oklch(15.07% 0.027 232.661);
    --color-secondary: oklch(68.011% 0.158 276.934);
    --color-secondary-light: oklch(68.011% 0.158 276.934 / 0.5);
    --color-secondary-content: oklch(13.602% 0.031 276.934);
    --color-accent: oklch(72.36% 0.176 350.048);
    --color-accent-content: oklch(14.472% 0.035 350.048);
    --color-neutral: oklch(27.949% 0.036 260.03);
    --color-neutral-content: oklch(85.589% 0.007 260.03);
    --color-info: oklch(68.455% 0.148 237.251);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(78.452% 0.132 181.911);
    --color-success-content: oklch(15.69% 0.026 181.911);
    --color-warning: oklch(83.242% 0.139 82.95);
    --color-warning-content: oklch(16.648% 0.027 82.95);
    --color-error: oklch(71.785% 0.17 13.118);
    --color-error-content: oklch(14.357% 0.034 13.118);

    --color-border: oklch(100% 0 0 / 0.4);
    --color-border-light: oklch(100% 0 0 / 0.2);
    --color-border-dark: oklch(100% 0 0 / 0.8)
  }
}

@theme {
    --color-base-100: var(--color-base-100);
    --color-base-200: var(--color-base-200);
    --color-base-300: var(--color-base-300);
    --color-content: var(--color-content);
    --color-content-light: var(--color-content-light);
    --color-content-dark: var(--color-content-dark);
    --color-primary: var(--color-primary);
    --color-primary-light: var(--color-primary-light);
    --color-primary-content: var(--color-primary-content);
    --color-secondary: var(--color-secondary);
    --color-secondary-light: var(--color-secondary-light);
    --color-secondary-content: var(--color-secondary-content);
    --color-accent: var(--color-accent);
    --color-accent-content: var(--color-accent-content);
    --color-neutral: var(--color-neutral);
    --color-neutral-content: var(--color-neutral-content);
    --color-info: var(--color-info);
    --color-info-content: var(--color-info-content);
    --color-success: var(--color-success);
    --color-success-content: var(--color-success-content);
    --color-warning: var(--color-warning);
    --color-warning-content: var(--color-warning-content);
    --color-error: var(--color-error);
    --color-error-content: var(--color-error-content);

    --color-border: var(--color-border);
    --color-border-light: var(--color-border-light);
    --color-border-dark: var(--color-border-dark);

    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

html,
body {
  height: 100%;
  background-color: var(--color-base-100);
  color: var(--color-content);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
}
